:root {
  --main-red: #DB1C07;
  --main-yellow: #F4BD01;
  --main-brown: #744401;
  --gen-background: white;
  --bootstrap-form-border: #ced4da; 
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: var(--gen-background);
  overflow-x: hidden;
  color: var(--main-brown);
}

.logo-txt {
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25em;
}

.header-txt{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--main-brown);
}

.navText {
  font-size: 1.25em;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn-primary, .btn-secondary, .btn-tertiary {
  color: var(--main-brown);
  background-color: var(--main-yellow);
  border-color: var(--main-brown);
  font-weight: bold;
  border-width: 2px;
  width: 12em;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: var(--gen-background);
  color: var(--main-brown);
  border: 2px solid var(--main-brown);
}

.btn-primary:active, .btn-secondary:active, .btn-tertiary:active, .btn-tertiary:focus {
  background-color: var(--main-yellow) !important;
  border-color: var(--main-brown) !important;
}

.brown-txt, .navText {
  color: var(--main-brown);
}

.navbar {
  background-color: var(--gen-background);
}

.navbar-nav .nav-link.active {
  color: var(--main-brown);
  font-weight: 600;
  border-bottom: 4px solid var(--main-red);
}

.navbar-nav .nav-link:hover {
  color: var(--main-brown);
  font-size: 1.5em;
}

.nav-item {
  margin-right: 1em;
}

.form-control {
  border-width: 2px;
}

.red-txt {
  color: var(--main-red);
  font-weight: bold;
}

#about-p {
  max-width: 40em;
  align-self: center;
  text-indent: 1em;
}

.was-validated .form-control:invalid ~ .invalid-feedback {
  text-align: left;
  color: var(--main-red);
}

.was-validated .form-control:invalid {
  border-color: var(--main-red);
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: var(--bootstrap-form-border);
  background-image: none; 
  box-shadow: none;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: var(--bootstrap-form-border);  
  box-shadow: none;        
  background-image: none;  
}

.btn-modal {
  color: var(--main-brown);
  background-color: var(--main-yellow);
  border-color: var(--main-brown);
  font-weight: bold;
  border-width: 2px;
  min-width: 8em;
}

.btn-modal:hover {
  background-color: var(--gen-background);
  color: var(--main-brown);
  border: 2px solid var(--main-brown);
}

#logout-nav:hover {
  align-self: center;
  color: var(--main-brown);
  font-size: 1.5em;
}

.card {
  width: 18rem;
}
.profile-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.user-info {
  text-align: right;
}

#logout-nav {
  width: 100%;
  text-align: center;
}

#map {
  height: 500px;
  width: 100%;
}

.spinner {
  color: var(--main-red) !important;
}

.card-color {
  height: 10rem;
  border-radius: 6px;
}

.card-title {
  text-align: left;
}

.card-title-big {
  font-size: 1.5em;
}

.details-card {
  width: 30rem;
  margin-left: 2em;
  text-align: center;
  height: 500px;
}

.details-card-small {
  margin-left: 4em;
  text-align: center;
  height: 400px;
}

.details-card-big {
  width: 38rem;
  text-align: center;
  height: 58em;
}
.card-text {
  text-align: left;
}
.price-txt {
  font-weight: bold;
}

.address-txt {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.btn-secondary {
  margin-top: 1em;
}

.save-btn {
  margin-left: 1em;
  min-width: 4em;
}


.btn-tertiary:hover {
  color: var(--main-brown);
  background-color: var(--main-yellow);
  border-color: var(--main-brown);
  font-weight: bold;
  border-width: 2px;
}

.card-img {
    display: inline-block;
    width: 300px;
    height: 220px;
    margin: 5px;
    background-position: center center;
    background-size: cover;

}

.card-img-small {
    display: inline-block;
    width: 245px;
    height: 220px;
    margin: 5px;
    background-position: center center;
    background-size: cover;
}

.card-img-big {
  display: inline-block;
  width: 35em;
  height: 20em;
  margin: 5px;
  background-position: center center;
  background-size: cover;
}
.card:hover {
  cursor: pointer;
}

#search-input {
  width: 50%;
  margin: auto;
  border: 1px solid var(--main-brown);
  border-radius: 0.5rem;
  padding: 0.5em;
}

footer {
  margin-top: auto;
  /* Add specific footer styles */
  height: 60px; /* Example height */
  padding: 10px;
  text-align: center;
}


.autocomplete-container input,
.autocomplete-control {
  box-sizing: border-box;
}

.autocomplete-control {
  margin: 24px;
  background: #fff;
}

.autocomplete-container {
  width: 300px;
}

.autocomplete-container input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font-size: 18px;
}

.autocomplete-container .custom-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete-container .custom-list-item {
  padding: 8px;
}

.autocomplete-container .custom-list-item:hover {
  background: lightgrey;
  cursor: pointer;
}

#myColor {
  background-color: white;
}

.custom-alert {
  z-index: 100;
  background-color: var(--main-yellow) !important;
  color: var(--main-brown) !important;
  opacity: 0.9;
  margin-top: 1em;
  width: auto;
}

.custom-error {
  z-index: 100;
  color: white;
  opacity: 0.9;
  margin-top: 1em;
  width: auto;
}

.classicButton {
  height: 2.75em;
}

.alert-below-header {
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
    position: absolute; 
}

.cancel-btn, .back-btn {
  width: 8em;
}


.header-w-back {
  padding-right: 7em;
}

.hours-div {
  margin-top: 2em;
  margin-bottom: 2em;
}

.link {
  font-weight: bold;
}



@media screen and (max-width: 991px) {
  .navbar {
    margin-bottom: 3em;
  }

  .navbar-nav .nav-link.active {
  color: var(--main-brown);
  font-weight: 800;
  display: inline-block;
  border-bottom: none;
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
    .navbar-collapse {
    border: 1px solid var(--main-brown); 
    border-radius: 0.5rem;               
    padding: 0.5rem 1rem;                
    background-color: #fff;              
  }
}

